/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --page-bg-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --bg-color: #000028;
  --color-text-menu:#FF0070;
  --text-color-title: #DB00FF;
  --color-text-header-title-small: #000028;
  --color-title-main: #FF0070;
  --main-text-color: #F1B2CE;
  --hover-button-effect: rgba(255 0 112 /0.4);
  --color-title-main-small: #000028;
}

