/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --page-bg-image: url(../images/cover-image-light.png);
  --accent-color:#FF8DCB;
  --bg-color: #fff1f7;
  --color-text-menu: #353430;
  --text-color-title: #FFC2E6;
  --color-text-header-title-small: #353430;
  --color-title-main: #353430;
  --main-text-color: #353430;
  --hover-button-effect: rgba(50 49 45 / 0.4);
  --color-decorated-zone: #353430;
}

.theme-light .decorative__element {
  display: none;
}

