/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #FF8DCB;
  --main--font: 'IBM Plex Mono';
  --bg-color: #353430;
  --text-color-title: #ffc2e6;
  --text-title-smaller: #353430;
  --page-bg-image: url(../images/cover-image-light.png);
  --color-text-paragraph-main: #353430;
  --hover-button-effect: rgb(225 0 112/0.4);
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  font-family: var(--main--font);
  font-size: 18px;
  font-weight: 400;
  background-color: var(--bg-color);
  background-image: var(--page-bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
