
.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  font-weight: 400;
  color: var(--main-text-color);
  background-color: var(--bg-color);
  background-image: var(--page-bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*Секция Header*/
.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  gap: 50px;
  block-size: 100vh;
  min-block-size: 668px;
}

/*Декоративный элемент уголки*/
.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  block-size: 25px;
  inline-size: 25px;
  border-inline-end: 1px solid var(--color-decorated-zone);
  border-block-start: 1px solid var(--color-decorated-zone);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  block-size: 25px;
  inline-size: 25px;
  border-inline-start: 1px solid var(--color-decorated-zone);
  border-block-end: 1px solid var(--color-decorated-zone);
}

/*Декоративный элемен REC*/
.decorative__element {
  position: absolute;
  top: 10px;
  right: 19px;
}

.decorative__element::before {
  content: 'REC';
  color: var(--accent-color, #FF0070);
}

.decorative__element::after {
  content: '';
  display: inline-block;
  block-size: 9px;
  inline-size: 9px;
  background-color: var(--accent-color, #FF0070);
  margin-inline-start: 10px;
  margin-block-end: 2px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #FF0070);
}

/*Меню*/
.header__theme-menu {
  grid-row: 1;
  grid-column: 1;
  justify-self: end;
  margin-inline-end: 10px;
  margin-block-start: 75px;
  line-height: 18px;
}

.header__theme-menu-list li:not(:first-of-type) {
  margin-block-start: 10px;
}

/*Кнопки меню*/
.header__theme-menu-button {
  line-height: 18px;
  text-transform: lowercase;
  color: var(--color-text-menu);
  background-color: transparent;
  border: none;
  padding: 3px 13px;
  line-height: 20px;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor; 
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-button-effect);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
}

/*Заголовок*/
.header__title {
  color: var(--text-color-title);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
  grid-row: 2;
  grid-column: 1;
  align-self: center;
  justify-self: start;
  max-inline-size: 355px;
  margin-inline-start: 10px;
}

.content__text-block_header {
  justify-self: end;
  grid-row: 3;
  grid-column: 1;
  margin-inline-start: 10px;
  max-inline-size: 355px;
  margin-block-start: 5px;
  margin-inline-end: 2.6%;
}

.content__paragraph {
  color: var(--color-text-header-title-small);
  font-weight: bold;
  line-height: 23.4px;
  font-size: 18px;
}

.title__decor {
  background-color: var(--accent-color);
}

/*Мain*/
.container__main {
  margin-block-start: 40px;
  display: grid;
  padding: 0 10px;
  gap: 50px;
  line-height: 23.4px;
}

/*Главные Секции*/
.section__title {
  text-wrap: wrap;
  color: var(--color-title-main);
  font-size: 18px;
  font-weight: bold;
  margin-inline-start: 0;
}

.main__subtitle {
  margin-block-start: 20px;
  font-size: 18px;
  font-weight: bold;
  color: var(--color-text-header-title-small)
}

.image__gallery .main__subtitle {
  margin-block-start: 0;
}

.main__subtitle-small {
  margin-block-start: 20px;
  color: var(--color-text-header-title-small);
  font-weight: 400;
}

.content__paragraph-main {
  margin-block-start: 10px;
}

.content__paragraph-main a {
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
}

.content__paragraph-main a:hover {
  border-block-end: 1px solid currentColor;
  box-shadow: none;
}

.content__paragraph-main a:focus-visible {
outline: 1px solid currentColor;
}

.container__image {
  margin-block-start: 10px;
  display: grid;
  gap: 10px;
}

.content__image {
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  margin-block-start: 40px;
}

.footer__title {
  color: var(--text-color-title);
  font-size: var(--logo-size);
  text-shadow: 2px 2px 0 var(--accent-color);
  line-height: 83%;
}

@media(width>=768px) {
  :root {
    --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  /*Декоративный элемен REC*/
.decorative__element {
  position: absolute;
  top: 20px;
  right: 29px;
}

  .header__theme-menu {
    margin-block-start: 192px;
    margin-inline-end: 20px;
  }

  .header__title {
    max-inline-size: 577px;
    margin-inline-start: 0;
  }

  .content__text-block_header {
    min-inline-size: 364px;
  }

  .concentration__problems,
  .concentration__tips {
    display: grid;
    grid-template-columns: 236px 1fr; 
    gap: 20px;
  }

  .concentration__problems .section__title {
    grid-column: 1 / 2;
  }

  .concentration__problems .main__content,
  .concentration__tips .main__content{
    grid-column: 2 / -1;
  }

  .concentration__problems .main__subtitle:first-child,
  .concentration__tips .main__subtitle:first-child
   {
    margin-block-start: 0;
  }

  .concentration__reducers .section__title{
   inline-size: 236px;
  }

  .container__image {
    display: grid;
    grid-template-columns: 229px 1fr 229px;
    grid-template-rows: 192px 1fr 318px;
    grid-auto-flow: dense;
    margin-block-start: 20px;
    gap: 20px;
  }
  
  .content__image:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
  }

  .content__image:nth-child(2) {
    grid-row: 1 / span 2;
    grid-column: 3;
  }

  .content__image:nth-child(3) {
    grid-row: 2 /span 2;
    grid-column: 1;
  }

  .content__image:nth-child(5) {
    grid-column: 2 /span 2;
    grid-row: 3;
  }

  .container__main {
    margin-block-start: 60px;
    gap: 80px;
    padding: 0 20px;
  }

  .footer {
    margin-block-start: 60px;
  }

}
@media(width>=1024px) {
  
  .header__theme-menu {
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
    margin-block-start: 20px;
  }
  
  .header__theme-menu-list {
    padding-inline-start: 21px;
    display: flex;
    gap: 11px;
  }
  
  .header__theme-menu-list li:not(:first-of-type) {
    margin-block-start: 0;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    max-inline-size: 759px;
  }

  .content__text-block_header {
    min-inline-size: 491px;
    margin-block-start: 20px;
    margin-inline-end: 20px;
  }

  /*Секции*/
  .concentration__problems,
  .concentration__tips {
    display: grid;
    grid-template-columns: 315px 1fr; 
    gap: 20px;
  }

  .concentration__reducers {
    display: grid;
    grid-template-rows: 47px 1fr;
  }

  .concentration__reducers .section__title {
    grid-row: 1;
    inline-size: 315px;
  }

  .concentration__reducers .main__content {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(315px, max-content));
    gap: 19px;
  }

  .container__image {
    grid-template-columns: 315px 1fr 314px;
    grid-template-rows: 260px 1fr 433px;
  }

}
