:root {
  --page-bg-image: url(../images/cover-image-dark.png);
  --main-font: 'IBM Plex Mono', monospace;
  --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --accent-color: #FF0070;
  --bg-color: #000028;
  --color-text-menu:#FF0070;
  --text-color-title: #DB00FF;
  --color-text-header-title-small: #000028;
  --color-title-main: #FF0070;
  --main-text-color: #F1B2CE;
  --hover-button-effect: rgba(255 0 112 /0.4);
  --color-title-main-small: #000028;
}
/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
